<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="connectivity" href="/tabs/connectivity">
      <ion-icon name="bluetooth-outline"></ion-icon>
      <ion-label>Conectividad</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="media" href="/tabs/media">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Media</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
